@mixin arrow($color) {
    background-color: $light-grey;
    color: $color;
    border: none;
        span{
            font-size: 60px;
        }
        &:disabled{
            color: $light-grey;
            cursor: default;
        }
        &:hover{
            transform: scale(1.2);
        }
    cursor: pointer;
    }

    @mixin word-list-button($background, $border-color, $color){
        background-color: $background;
        border: 1px solid $border-color;
        color: $color;
        font-size: 1.2vw;
        padding: 0.5vw;
    }