@import '../general';
@import '../Buttons/listButtons';

.empty{
    border-color: $light-red;
}
.full{
    border: 1px solid $light-green;
}
.disabled-btn{
    cursor: not-allowed;
}
.error{
    color: $light-red;
    font-weight: $bold;
    font-size: 1.2vw;
}

.heading {
    padding: 2vw 0 0 0;
    font-family: $poltawski;
    font-weight: $bold;
    font-size: 2.3vw;
    color: $dark-green;
}
.table{
    padding: 1.5vw;
    border-collapse: separate;
    border-spacing: 0 1vw;
}

.table__item td{
    padding-right: 2vw;
    font-size: 1.7vw;
}
.table__heading th{
    padding-right: 2vw;
}

.table__add-word th{
    padding-right: 2vw;
}

.table__add-word input{
    font-size: 1.7vw;
    border: none;
    border-bottom: 2px solid $light-red;
    border-top: 2px solid $dark-yellow;
}

.button-edit {
    @include word-list-button ($lemon, $lemon, $russet);
}

.button-delete {
    @include word-list-button ($dark-green, $dark-olive, $light-grey);
}

.add-btn{
    @include word-list-button ($light-beige, $camel, $russet);
}

.table__item__edited input{
    padding: 0.5vw;
    font-size: 1.2vw;
    font-family: $quicksand;
    &:focus{
        background-color: $light-beige;
    }
    &:focus-visible {
        outline: 2px solid $dark-green;
        border-radius: 3px;
}
}

.button-save {
    @include word-list-button ($light-green, $light-green, $cornsilk);
}
.button-cancel {
    @include word-list-button ($light-red, $light-red, $cornsilk);
}


@media screen and (max-width: 699px) {
.heading {
    font-size: 5vw;
}
.table__item td{
    font-size: 3.5vw;
}
.table__heading th{
    font-size: 3vw;
}
.button-edit, .button-delete, .button-save, .button-cancel {
    font-size: 3vw;
    padding: 0.5vw;
}}

@media screen and (min-width: 700px) and (max-width: 1399px) {
.heading {
    font-size: 3vw;
}
.table__item td{
    font-size: 2.2vw;
}
.table__heading th{
    font-size: 2.1vw;
}
.button-edit, .button-delete, .button-save, .button-cancel {
    font-size: 2vw;
    padding: 0.5vw;
}
}