@import '../general';
@import '../Buttons/listButtons';

.heading {
    padding: 2vw 0 0 0;
    font-family: $poltawski;
    font-weight: $bold;
    font-size: 2vw;
    color: $dark-green;
}
.table{
    padding: 1.5vw;
    border-collapse: separate;
    border-spacing: 0 1vw;
}

.table__item td{
    padding-right: 2vw;
    font-size: 1.7vw;
}
.table__heading th{
    padding-right: 2vw;
}

button {
    font-size: 1.2vw;
    padding: 0.5vw;
}

.button-edit {
    background-color: $lemon;
    border: 1px solid $lemon;
    color: $russet;
}
.button-delete {
    background-color: $dark-green;
    border: 1px solid $dark-olive;
    color: $light-grey;
}

.table__item__edited input{
    padding: 0.5vw;
    border: 1px solid $light-green;
    font-size: 1.2vw;
    font-family: $quicksand;
    &:focus{
        background-color: $light-beige;
    }
    &:focus-visible {
        outline: 2px solid $dark-green;
        border-radius: 3px;
}
}

.button-save {
    background-color: $light-green;
    border: 1px solid $light-green;
    color: $cornsilk; 
}
.button-cancel {
    background-color: $lemon;
    border: 1px solid $lemon;
    color: $russet;
}